body{
    /*font-size:    62.5%;*/ /*Setting this font size on the body makes 1em equal to 10px*/
}
img{
	border: 			0;
}
dt{
	font-weight: 		bold;
}
cite{
	font-size:x-small;
}
abbr,acronym{
	cursor:				help;
	border-bottom:		1px dotted;
}
.item-action{
    padding-left:       20px;
    background-repeat:  no-repeat;
    font-size:          14px;
}
/*SUBMISSION RESULTS*/
.good
{
	background: 		white;
	color: 				black;
	padding: 			5px;
	border: 			1px solid black;
	font-weight: 		bold;
}
.bad
{
	background: 		red;
	color: 				white;
	padding: 			5px;
	border: 			1px solid white;
	font-weight: 		bold;
}
.ui-widget{
    font-size:          0.9em;
}
.ui-dialog .ui-dialog-titlebar-close{
    display:            none;
}

