$theme-white: #fff !default;
$theme-black: #000 !default;
$theme-red: #f00 !default;

$text-white: #fff !default;
$text-black: #000 !default;

$grey: #808080 !default;
$grey-medium-light: #bbb !default;
$grey-light: #ccc !default;
$grey-lighter: #ddd !default;

$error-red: $theme-red !default;
