@import 'baseline';

img {
  border: 0;
}

dt {
  font-weight: bold;
}

cite {
  font-size: x-small;
}

abbr,
acronym {
  cursor: help;
  border-bottom: 1px dotted;
}

a.add-item,
.item-action {
  padding-left: 20px;
  background-repeat: no-repeat;
  font-size: 14px;
}

// SUBMISSION RESULTS
.good {
  background: $theme-white;
  color: $text-black;
  padding: 5px;
  border: 1px solid $theme-black;
  font-weight: bold;
}

.bad {
  background: $theme-red;
  color: $text-white;
  padding: 5px;
  border: 1px solid $theme-white;
  font-weight: bold;
}

.ui-widget {
  font-size: .9em;
}

.confirmation .ui-dialog-titlebar-close {
  display: none;
}

