@import '../mixins';
@import '../core/colors';

$red: #f00;
$label-gutter: 90px;
$validation-error-radius: 4px;
$form-left-gutter-width: 93px;

.form {
  font-variant: small-caps;
  color: $text-white;
  padding: 3px;
}

fieldset {
  margin: 0 0 5px;
  opacity: 1;
}

legend {
  font-size: 1.5em;
}

.fieldList {
  list-style-type: none;
  margin: 0;

  li {
    margin-bottom: 10px;
  }

  > li  > label {
    &:after {
      content: ':';
    }

    &.ui-state-error:after {
      content: '';
    }
  }

  label {
    width: $label-gutter;
    display: inline-block;
    vertical-align: top;

    &.ui-state-error {
      @include border-radius($validation-error-radius);
      width: auto;
      margin-left: $form-left-gutter-width;
      padding: 3px 3px 3px 20px;
      margin-top: 3px;
      color: $text-white;
      display: block;
      border: 0;
      background: $error-red url('/resources/thirdparty/travi-styles/dist/img/icons/ui-icon-ffffff-alert.png') no-repeat 3px 2px;
    }
  }


  button {
    margin-left: $form-left-gutter-width;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 3px 0 10px;

    .choices {
      margin-left: $form-left-gutter-width;
    }

    li {
      list-style-type: none;
    }

    label {
      padding: 0;
      width: auto;

      &.ui-state-error {
        padding-right: 200px;
        vertical-align: top;
      }
    }

    legend {
      margin: 0;
      padding: 0 0 5px;
      font-weight: normal;
      font-size: 1em;

      &:after {
        content: ':';
      }
    }
  }

  .notearea {
    display: inline;
    padding-left: 0;
  }

  .submitButton {
    margin-left: 94px;
    clear: both;
    display: block;
  }
}

form ol.actions {
  margin: 20px 0;
}

input.ui-state-error,
textarea.ui-state-error,
select.ui-state-error {
  @include border-radius($validation-error-radius);
  background: $theme-white none;
  border: 2px solid $error-red;
}

.textInput,
.fileInput {
  padding-left: 2px;
}

.city {
  width: 365px;
}

.state {
  width: 20px;
}

.zip {
  width: 40px;
}

.outerButton {
  margin-left: 112px;
}

#date_trigger {
  vertical-align: top;
}

#date_trigger:hover {
  border: 2px $theme-white solid;
}

.format_trigger {
  border: 1px solid $grey-lighter;
  width: 22px;
  height: 22px;
  background: $theme-white;
}

.format_trigger:hover {
  border: 1px solid $grey;
}

input.datepicker {
  margin-right: 5px;
  vertical-align: top;
}

input.open-id {
  padding: 3px;
  background-position: top right;
  background-repeat: no-repeat;
  background-image: url('../../img/icons/openid-icon.png');
}
